@{
    ViewBag.Title = "CreatePost";
}
@model MIS_Service.Models.PostDataObject

<body class="bg-light">
    <div class="container px-4">
        <div class="py-5 text-center">
        </div>

        <div class="row gx-5">
            <div class="col-md-4 order-md-2 mb-4">

            </div>
            <div class="col-md-8 order-md-1">
                <h4 class="mb-3">Create Post</h4>
                <h5 class="mb-3">New Ticket</h5>
                @using (Html.BeginForm("Create", "Post", FormMethod.Post))
                {
                    <div class="row">
                        <div class="col-md-6 mb-3">
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="Tic03">收件日期</label>
                        @Html.TextBoxFor(model => model.Tic03, new { @class = "form-control" })
                    </div>
                    <div class="mb-3">
                        <label for="Tic04">表單序號</label>
                        @Html.TextBoxFor(model => model.Tic04, new { @class = "form-control" })
                    </div>
                    <div class="mb-3">
                        <label for="Tic05">申請部門</label>
                        @Html.TextBoxFor(model => model.Tic05, new { @class = "form-control" })
                    </div>
                    <div class="mb-3">
                        <label for="Tic06">申請目的</label>
                        @Html.TextAreaFor(model => model.Tic06, 4, 50, new { @class = "form-control" })
                    </div>
                    <div class="mb-3">
                        <label for="Tic07">申請內容</label>
                        @Html.TextAreaFor(model => model.Tic07, new { @class = "form-control", rows = "6", id = "PostContent", name = "PostContent" })
                    </div>
                    <div class="mb-3">
                        <label for="Tic08">預定完成日</label>
                        @Html.TextBoxFor(model => model.Tic08, new { @class = "form-control" })
                    </div>
                    <div class="row">
                        <div class="col-md-6 mb-3">
                        </div>
                    </div>

                    <button type="submit" class="btn btn-primary">Submit</button>
                    <button type="button" class="btn btn-primary" onclick="history.go(-1)">Cancel</button>
                }
            </div>
        </div>
    </div>
</body>